<%= render "header" %>
<div class="background">
  <div class="animate-target"></div>

  <ul class="first-links" role="contentinfo">
    <li><a href="javascript:void(0)">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
      </a></li>
    <li><a href="javascript:void(0)">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
    </a></li>
  </ul>
  <ul class="last-links" role="contentinfo">
    <li><a href="javascript:void(0)">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
    </a></li>
    <li><%= image_tag "github.png", class: "octocat" %></li>
  </ul>
  <div contenteditable class="kalyco"><span style="color: white">ka</span>yla <span style="color: white">ly</span>nn <span style="color: white">co</span>malli</div>
  </div>
</div>

<div class="triangle-right"></div>
<div class="pacman"></div>
