@import "normalize-rails";
@import "bourbon";
@import "neat";
@import "base/base";

@import "refills/animate";
@import "refills/social-logo";
@import "refills/accordian";
@import "background";

@font-face {
  font-family: 'Nexa';    
  src: asset-url('nexa_bold.otf');
  src: asset-url('nexa_light.otf');
  font-weight: normal;
  font-style: normal;
}