$color: #3D007A;
$sprites: url("mega_sprite.svg");

$arkhip: "Arkhip", sans-serif;

@font-face {
font-family: "Arkhip";
src: font-url('Arkhip_font.ttf');
}


.background {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: $color;
  background-image: $sprites;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 40px;
  height: 900px;

}

.kalyco {
  border: 10px solid black;
  color: black;
  margin: auto;
  font-family: $arkhip;
  font-size: 75px;
  position: relative;
  top: 200px;
}


img.octocat {
  -webkit-filter: invert(100%);
  width: 77px;
  height: 77px;
}

ul.first-links {
  size: 200%;
  position: relative;
  bottom: 175px;
}

ul.last-links {
  position: absolute;
  top: 600px;
  left: 1900px;
}

ul {
  size: 150% 150%;
}

.triangle-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid black;
}

.pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid black;
  border-left: 60px solid black;
  border-bottom: 60px solid black;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

