$color: #3D007A;
$sprites: url("mega_sprite.svg");

$nexa-font: "Nexa Light", sans-serif;

 @font-face {
   font-family: "Nexa Light";
   src: font-url('nexa_light.otf');
}

.background {
  background-color: $color;
  background-image: $sprites;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 40px;
  background-height: 600px;
}

.kalyco {
  inherit: background;
  color: black;
  font-family: $nexa-font;
  font-size: 40px;
  text-align: center;
}

.first-links {
  position: relative;
}

img.octocat {
  -webkit-filter: invert(100%);
  width: 77px;
  height: 77px;
}

ul.first-links {
  position: relative;
  bottom: 150px;
}

ul.last-links {
  position: absolute;
  top: 40%;
  left: 90%;
}