$color: #3D007A;
$sprites: url("mega_sprite.svg");

$arkhip: "Arkhip", sans-serif;

@font-face {
font-family: "Arkhip";
src: font-url('Arkhip_font.ttf');
}


.background {
  background-color: $color;
  background-image: $sprites;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 40px;
  background-height: 600px;
}

.kalyco {
  inherit: background;
  color: black;
  font-family: $arkhip;
  font-size: 50px;
  text-align: center;
}


img.octocat {
  -webkit-filter: invert(100%);
  width: 77px;
  height: 77px;
}

ul.first-links {
  position: relative;
  bottom: 175px;
}

ul.last-links {
  position: absolute;
  top: 350px;
  left: 1240px;
}